{% extends "layout.html" %}

{% block content %}
<table class="table table-condensed table-hover">
<thead>
<tr>
  <th>Site</th>
  <th>Name</th>
  <th>Last Modified</th>
  <th class="text-right">Size</th>
</tr>
</thead>
<tbody>
{% for file in files %}
<tr>
  <td>{{ site|e }}</td>
  {% if file.type == 'dir' %}
  <td><a href="/fs/{{ site|e }}/{{ file.path|e }}">{{ file.basename|e }}/</a></td>
  {% else %}
  <td><a href="/fs/{{ site|e }}/{{ file.path|e }}">{{ file.basename|e }}</a></td>
  {% endif %}
  <td>{{ file.timestamp|default('') }}</td>
  <td class="text-right">{{ file.size|default('') }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
